/*--------------------------------*/
/*------CONFIGURAÇÕES GERAIS------*/
/*--------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1100px;
    margin: 0 auto;
}

section {
	padding: 80px 0;
}


/*-----------------------------*/
/*---------HERO HEADER---------*/
/*-----------------------------*/

header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                        url(img/hero-header-min.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 230%;
    font-weight: 200;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 33%;
    width: 700px;
    transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 80%;
    padding: 5px 25px;
    border-radius: 200px;
    transition: background-color 0.2s;
    background-color: #376d27;
    border: 1px solid #376d27;
    margin-right: 15px;
}

.btn:hover,
.btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.main-nav {
    float: right;
    position: absolute;
    right: 33%;
    transform: translate(37%);
    list-style-type: none;
    margin-top: 45px;
}

.main-nav li {
    display: inline-block;
    margin-left: 45px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    letter-spacing: 1px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #376d27;
}

nav div {
    max-width:900px;
    margin: 0 auto;
    height: 120px;
}

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    display: none;
}

.logo {
    font-family: 'Fredoka One', cursive;
    color: #fff;
    font-size: 200%;
    font-weight: 100;
    float: left;
    position: absolute;
    left: 33%;
    transform: translate(-195%);
    margin-top: 35px;
}

/*----------------------------------*/
/*-------------SERVIÇOS-------------*/
/*----------------------------------*/

h3 {
    font-size: 180%;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h3::after {
    content: " ";
    height: 2px;
    width: 100px;
    background-color: #376d27;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.box1 ion-icon {
	font-size: 400%;
	color: #376d27;
	margin-bottom: 10px;
    margin-top: 33px;
}

.box2 ion-icon {
	font-size: 400%;
	color: #376d27;
	margin-bottom: 10px;
    margin-top: 25px;
}

section {
	padding: 80px auto;
}

.box1 {
    margin-bottom: 30px;
}

.box1,
.box2 {
    text-align: center;
}

.box1 h4,
.box2 h4 {
    width: 60%;
    font-size: 100%;
    font-weight: 400;
    margin: auto;
}

/*---------------------------------*/
/*-----------ATENDIMENTO-----------*/
/*---------------------------------*/

.photos {
    padding-top: 0px;
}

.images-showcase {
    list-style-type: none;
    width: 100%;
}

.images-showcase li {
    float: left;
    width: 33.3%;        
}

.photo {
    width: 100%;
    overflow: hidden;
    margin-bottom: -5px;
}

.photo img {
    width: 100%;
}

/*-----------------------------*/
/*----------CLEAR-FIX----------*/
/*-----------------------------*/

.clearfix {
    zoom:1;
    }

.clearfix:after { 
    content: '.';
    clear: both;
    display: block;
    height:0;
    visibility:hidden;
    }

/*----------------------------*/
/*-------ESPECIALIDADES-------*/
/*----------------------------*/
.section-especialities {
    padding-top: 0px;
}

.section-especialities h3 {
    font-size: 180%;
    word-spacing: 4px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px; 
}

.section-especialities h3::after {
    content: " ";
    height: 2px;
    width: 100px;
    background-color: #376d27;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.section-especialities img {
    width: 100%; 
}

.section-especialities .col {
    margin: 0.5%;
}

.section-especialities h4 {
    font-size: 100%;
    text-align: left;
    margin-top: 15px;
    text-transform: uppercase;
}

.section-especialities p {
    text-align: left;
    margin-top: 10px;
    width: 90%;
    word-spacing: 2px;
    font-weight: 400;
    font-size: 90%;
}

/*-----------------------------*/
/*------- DEPOIMENTOS ---------*/
/*-----------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0 , 0, 0.8), rgba(0, 0, 0, 0.8)),
                        url(img/depoimentos-min.jpg);
    background-size: cover;
    color: #fff;
    height: 100vh;
    background-position: center; 
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    font-size: 95%;
    width: 95%;
}

cite {
    font-size: 90%;
    display: block;
    margin-top: 25px;
    font-weight: 500;
}

blockquote::before {
    content: "\0022";
    font-size: 350%;
    font-family: serif;
}

/*-----------------------------*/
/*--------- GALERIA -----------*/
/*-----------------------------*/

.gallery {
    width: 700px;
    margin: auto;
}

.item img {
    width: 700px;
}

/*-----------------------------*/
/*------- LOCALIZAÇÃO ---------*/
/*-----------------------------*/

.section-location {
    background-image: linear-gradient(rgba(0, 0 , 0, 0.7), rgba(0, 0, 0, 0.7)),
                        url(img/localizacao-min.jpg);
    background-size: cover;
    color: #fff;
    height: 118vh;
    background-position: center;
}

.left {
    width: 45%;
}

.left p {
    font-size: 80%;
    font-weight: 300;
    margin-top: 9px;
}

.formulario {
    margin-top: 25px;
}

.formulario .titulo_form {
    font-size: 90%;
    font-weight: 400;
}

.solo_titulo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 75%;
    display: block;
    margin-top: 10px;
}

.box,
#mensagemid {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 70%;
    margin-top: 10px;
    width: 400px;
    display: block;
}

.box {
    height: 30px;
}

.botao {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 70%;
    margin-top: 10px;
    width: 60px;
}

/*-----------------------------*/
/*---------- FOOTER -----------*/
/*-----------------------------*/

footer {
    background-color: rgb(48, 47, 47);
    padding: 50px;
    font-size: 75%;
}

.areas {
    width: 700px;
}

.icones {
    width: 207px;
}

.footer-nav {
    list-style-type: none;
    float: left;
}

.social-nav {
    list-style-type: none;
    float: right;
}

.footer-nav li,
.social-nav li {
   display: inline-block;
   margin-right: 20px;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.footer-nav li a:visited,
.footer-nav li a:link,
.social-nav li a:visited,
.social-nav li a:link {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}

.social-nav li a:visited,
.social-nav li a:link {
    font-size: 50%;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: rgb(179, 173, 173);
}

.logo-whatsapp,
.logo-instagram,
.logo-twitter,
.logo-facebook {
    font-size: 300%;
    color: #fff;
    transition: color 0.2s;
}

.logo-whatsapp:hover {
    color: #34af23;
}

.logo-instagram:hover {
    color: #517fa4;
}

.logo-twitter:hover {
    color: #00aced;
}

.logo-facebook:hover {
    color: #3b5998;
}